* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--default);
  color: white;
}

:root {
  --default: #121213;
  --empty: #3a3a3c;
  --question: #b59f3b;
  --must: #538d4e;
  --wrong: rgb(245, 34, 34);
}

.board {
  display: grid;
  place-items: center;
  width: 100%;
  height: 600px;
}

.word-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.box {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  margin: 0 10px;
  background-color: var(--empty);
}

.box input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
}

.correct {
  background-color: var(--right);
}

.question-mark {
  background-color: var(--question);
}

.options {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 50px;
  animation: colorChange 3s infinite;
}

h6 {
  margin-top: 10px;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  45% {
    color: var(--question);
  }
  75% {
    color: var(--must);
  }
}

.header p {
  margin-top: 10px;
  font-size: 37px;
}

.header .header-explaination {
  font-size: 20px;
}

#input-bad,
#input-must {
  font-size: 30px;
  width: 350px;
  height: 50px;
  border: 2px solid white;
  margin: 11px 10px;
  background-color: var(--empty);
  color: white;
  outline: none;
  padding-left: 8px;
}

#solve-button {
  background-color: whitesmoke;
  border: 2px solid var(--empty);
  border-radius: 30px;
  box-shadow: #353535 4px 4px 0 0;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

#solve-button:hover {
  background-color: white;
}

#solve-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #solve-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.alert {
  padding: 0px 100px 10px;
  background-color: #f44336; /* Red */
  color: white;
  font-size: 16px;
  position: relative;
  margin-bottom: 15px;
  display: none;
  text-align: center;
  height: 40px;
  line-height: 40px; /* set to the height of the div */
}

/* Add a close button */
.closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  font-size: 33px;
  font-weight: bold;
  cursor: pointer;
}
